<template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close')">
            <span aria-hidden="true">&times;</span>
        </button> 
    </div>
    <div class="modal-body">
        <label>{{message}}</label>
    </div>
    <div class="modal-footer">
        <button (click)="confirm()" class="btn btn-success">Aceptar</button>
        <button (click)="d('Close')" class="btn btn-danger">Cerrar</button>
    </div>
</template>
<button (click)='open(content)' class="btn btn-lg btn-outline-primary">{{btnText}}</button>