<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>{{'fails.title.text' | translate}}</h4>
            </div>
            <div class="panel-body">
                <img src="assets/fails.png" width="50px"/>
                <label>{{'fails.page.not.found' | translate}}</label>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <button class="btn btn-primary" (click)="gotoBack()">{{'button.accept.text' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>