<div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-10">
                                <h5 class="panel-title">{{listModel.name}}</h5>
                            </div>
                            <div class="col-xs-2">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a data-toggle="modal" href="#edit{{listModel.id}}">Editar</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#confirmModal{{listModel.id}}" data-toggle="modal">Eliminar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <img class="img-responsive img-thumbnail" [alt]='listModel.name' [src]='listModel.image' width="100px" height="100px"/>
                    <div class="container-fluid pull-right">
                        <div class="row">
                            <label class="col-xs-12">Stock: <span>{{listModel.count}}</span> </label> 
                        </div>
                        <div class="row">    
                            <label class="col-xs-12"> Entrada: <span>{{listModel.createDate | date: 'dd-MM-yyyy'}}</span> </label>
                        </div>
                        <div class="row">
                            <label class="col-xs-12">
                                Oponiones: <a href="#"><span class="badge"> {{listModel.comment}} </span></a>
                            </label>
                        </div>
                    </div>
                </div>
</div>
<new-list-model title="Editar" [item]="listModel" (modify)="update($event)"></new-list-model>
<confirm-modal alias="confirmModal{{listModel.id}}" title="Confirmaci&oacute;n" message="¿Desea eliminar el producto {{listModel.name}}?" (accept)="remove()"></confirm-modal>