<div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="panel-title">{{listModel.name}}</h5>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a data-toggle="modal" (click)="openModal()">Editar</a>
                            </li>
                            <li><a href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <img class="img-responsive img-thumbnail" [alt]='listModel.name' [src]='listModel.image' width="100px" height="100px"/>
                    <div>
                        <label class="item-details">Total de art&iacute;culos: <span>{{listModel.count}}</span> </label> 
                        <label> Creada: <span>{{listModel.createDate}}</span> </label>
                    </div>
                </div>
</div>
<!--<new-list-model title="Editar"></new-list-model>-->
