<div class="main-box">
    <div class="btn-group btn-group-justified">
        <new-list-model></new-list-model>
        <message-box btnText="Editar" title="Información" message="Alert modal"></message-box>
        <confirm-modal btnText="Eliminar" title="Eliminar" message="Desea eliminar este producto ?" (accept)="remove($event)"></confirm-modal>
    </div>
    <label *ngIf="lists.length == 0">No hay listas disponobles.</label>
    <ul *ngFor="let item of lists">
        <div class="item-box">
            <label class="item-name">{{item.name}}</label>
            <label class="item-details">Total de art&iacute;culos: <span>{{item.count}}</span> Creada: <span>{{item.createDate}}</span> </label>
        </div>
    </ul>
</div> 