<div class="main-box">
    <div>
        <message-box btnText="Nuevo" title="Información" message="Alert modal"></message-box>
        <message-box btnText="Editar" title="Información" message="Alert modal"></message-box>
        <message-box btnText="Eliminar" title="Información" message="Alert modal"></message-box>
    </div>
    <label *ngIf="lists.length == 0">No hay listas disponobles.</label>
    <ul *ngFor="let item of lists">
        <div class="item-box">
            <label class="item-name">{{item.name}}</label>
            <label class="item-details">Total de art&iacute;culos: <span>{{item.count}}</span> Creada: <span>{{item.createDate}}</span> </label>
        </div>
    </ul>
</div> 