<template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <label>Producto</label>
        <button class="close" aria-label="Close" (click)="c('Close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <label>Nombre</label>
            <input type="text" class="form-control" #txtname>
        </div>
        <div>
            <label>Cantidad</label>
            <input type="number" class="form-control" #txtcount>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="confirm()">Aceptar</button>
        <button class="btn btn-danger" (click)="d('dismiss')">Cerrar</button>
    </div>
</template>
<button (click)='open(content)' class="btn btn-lg btn-outline-primary">Nueva</button>